<ul class="navbar-nav ml-auto">
    <li class="nav-item active">
        <a class="nav-link text-black" href="/">Home <span class="sr-only"></span></a>
    </li>
                
    <li class="nav-item">
        <a class="nav-link text-black" href="/logout">Logout</a>
    </li>
                
</ul>



<header>
    <h1>Welcome to login page</h1>
</header>